/* about.css */
/* Base styles */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Organizational Chart Styles */
.org-chart {
    overflow-x: auto;
    padding: 20px;
}

.tree {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tree ul {
    position: relative;
    padding: 1em 0;

}