
.applications-list .application-item{
  background-color: rgb(134, 153, 207);
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 7px;
  margin-top: 10px;
}
.application-details {
 font-size: 1.2rem;
}
.application-item:last-child {
 border-bottom: none;
}
.application-actions button {
 margin-left: 0.5rem;
 padding: 0.5rem 1rem;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s ease;
}
.approve-btn {
 background-color: #28a745;
 color: white;
}
.approve-btn:hover {
 background-color: #218838;
}
.reject-btn {
 background-color: #dc3545;
 color: white;
}
.reject-btn:hover {
 background-color: #c82333;
}

@media (max-width: 720px) {
  .applications-list {
    padding: 1rem;
  }
  .application-item {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .applications-list {
    padding: 0.5rem;
  }
  .application-item {
    padding: 0.25rem;
  }
}
