.programs-list-0 {
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
   }
   .program-item {
      background-color: rgb(117, 169, 211);
      border: 1px solid #e0e0e0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-radius: 7px;
      margin-top: 10px;
    
  }
  
  .program-info{
     font-size: 1.2rem;
     color: aliceblue;
  }
  .program-item:last-child {
     border-bottom: none;
  }
  .program-actions button {
     margin-left: 0.5rem;
     margin-top: 5px;
     padding: 0.7rem 1rem;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     
  }

  .partnership-list h3{
      font-size: 1.5rem;
      
  }

  .partnership-list {
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  

  .partnership-list p{
      font-size: 1.5rem;
   
  }
  .edit-btn {
     background-color: #ffc107;
     color: black;
     padding: 8px 25px;
     border-radius: 5px;
  }
  .edit-btn:hover {
     background-color: #e0a800;
  }
  .delete-btn {
     background-color: #dc3545;
     color: white;
     padding: 8px 25px;
     border-radius: 5px;
  }
  .delete-btn:hover {
     background-color: #c82333;
  }
  
  @media (max-width: 720px) {
    .programs-list-0 {
      padding: 1rem;
    }
    .program-item {
      padding: 0.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .programs-list-0 {
      padding: 0.5rem;
    }
    .program-item {
      padding: 0.25rem;
    }
}



#addPartnershipForm {
   background-color: #f9f9f9;
   border: 1px solid #e0e0e0;
   border-radius: 10px;
   padding: 1.5rem;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   margin-top: 20px;
}

#addPartnershipForm .form-group {
   margin-bottom: 1rem;
}

#addPartnershipForm label {
   display: block;
   font-size: 1rem;
   margin-bottom: 0.5rem;
   color: #333;
}

#addPartnershipForm input[type="text"],
#addPartnershipForm input[type="file"] {
   width: 100%;
   padding: 0.5rem;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 1rem;
}

#addPartnershipForm .cta-button {
   background-color: #007bff;
   color: white;
   padding: 0.7rem 1.5rem;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

#addPartnershipForm .cta-button:hover {
   background-color: #0056b3;
}
/* this form will hide .when user enter add new partners images this form will be apprear */

