
   .events-list-0 .event-item {
        background-color: rgb(86, 96, 231);
        border: 1px solid #e0e0e0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-radius: 7px;
        margin-top: 10px;
    } 
   
   .event-item {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 1rem;
       border-bottom: 1px solid #e0e0e0;
   }

   .event-item-header {
       font-size: 1.2rem;
    
   }

  
   .event-item:last-child {
       border-bottom: none;
   
   }
   .event-actions button {
       margin-left: 0.5rem;
       padding: 10px 24px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       transition: background-color 0.3s ease;
   }
 .edit-btn {
     color: black;
  
     background-color: #ffc107;
   }
   .edit-btn:hover {
       background-color: #e0a800;
   }
   .delete-btn {
       background-color: #dc3545;
       color: white;
   }
   .delete-btn:hover {
       background-color: #c82333;
   }

@media (max-width: 720px) {
  .events-list-0 {
    padding: 1rem;
  }
  .event-item {
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .events-list-0 {
    padding: 0.5rem;
  }
  .event-item {
    padding: 0.25rem;
  }
}
