#contact-hero {
  width: 100%;
  height: 70vh;
  background: url("../assets/images/contact-hero.jpg") no-repeat center center;
  background-size: cover;
}

#contact-hero .hero-content {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-inline: 15%;
  color: #ffff;
  background-color: rgba(0, 0, 0, 0.8);
  padding-top: 0;
}

#contact-hero .hero-content h1,
#contact-hero .hero-content p {
  width: 100%;
  text-align: start;
}

#contact-hero .hero-content h1 {
  font-size: 3rem;
}
#contact-hero .hero-content p {
  font-size: 1.1rem;
}

#inquiry-section {
  padding-inline: 20px;
  padding-bottom: 2rem;
}

#contact-container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: flex;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 50px;
  background-color: white;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#contact-container > div {
  width: 100%;
}

.section-title {
  position: relative;
  text-align: start;
  font-size: 25px;
}

.section-title::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  margin-block: 12px;
}

#form-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

#form-container form .form-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#form-container form .form-field input,
#form-container form .form-field textarea,
#form-container form .form-field select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #ccc;
  background-color: #ffff;
  transition: border 0.3s ease;
}

#form-container form .form-field textarea {
  min-height: 110px;
  max-width: 445px;
}

#form-container form .form-field input:focus,
#form-container form .form-field textarea:focus,
#form-container form .form-field select:focus {
  border-color: var(--primary-color);
}

#form-container form button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-block: 10px;
  font-size: 1rem;
}

#form-container form button:hover {
  background-color: var(--secondary-color);
}

#form-container form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#contact-container .separate-line {
  width: 1px;
  height: calc(100% - 50px);
  border: 1px solid #b7b7b76b;
  position: absolute;
  left: 50%;
}

#contactInfo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contactInfo-container .info-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}

#contactInfo-container .info-container .info-icon {
  font-size: 2rem;
  color: var(--primary-color);
  margin-right: 20px;
  padding-top: 10px;
}

#contactInfo-container .info-container .info-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-size: 1.5rem;
}

#contactInfo-container .info-container .info-content h3 {
  color: var(--text-color);
}

#contactInfo-container .info-container .info-content p {
  font-size: 1rem;
}

#contactInfo-container .info-container .info-content p:first-child {
  color: #686868;
}

#liveChat-section {
  padding: 3rem;
}

#liveChat-section .section-title {
  text-align: center;
}

#liveChat-section .section-title::after {
  margin: auto;
}

#liveChat-section .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 0;
}

#liveChat-section .container #liveChat-image {
  width: 100%;
  max-width: 400px;
}

#liveChat-section .container .card-container {
  width: 100%;
  justify-content: center;
}

#liveChat-section .container .card {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: none;
  background: transparent;
}

#liveChat-section .container .card img {
  width: 100%;
  border-radius: 10px;
}

#liveChat-section .container .card button {
  background-color: var(--primary-color);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
  margin-block: 10px;
  font-size: 1rem;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  align-self: center;
}

#liveChat-section .container .card button:hover {
  background-color: var(--secondary-color);
}

#liveChat-section .container .card button a {
  text-decoration: none;
  color: #ffff;
}

/* Responsive Design */

@media screen and (max-width: 1320px) {
  #liveChat-section {
    padding: 1rem;
  }

  #liveChat-section .container {
    flex-direction: column;
    padding-inline: 10px;
  }

  #liveChat-section .container #liveChat-image {
    max-width: none;
    max-height: 400px;
    object-fit: cover;
  }
}

/* 900 */

@media screen and (max-width: 900px) {
  #liveChat-section .container #liveChat-image {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  #contact-container {
    flex-direction: column;
  }

  .separate-line {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  #contact-hero .hero-content {
    padding-inline: 5%;
  }

  #contact-hero .hero-content h1 {
    font-size: 2rem;
  }
  #contact-hero .hero-content p {
    font-size: 1rem;
  }

  #liveChat-section .container {
    width: 95%;
  }

  #liveChat-section .section-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 325px) {
  #contact-hero .hero-content h1 {
    font-size: 1.5rem;
  }
  #contact-hero .hero-content p {
    font-size: 0.8rem;
  }
}
