body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  padding: 20px;
}
/* Hero Section Styles */
#hero {
  background-image: url("../assets/images/programs/programsinitiatives.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 10px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  color: white;
  font-weight: 530;
  margin-bottom: 2rem;
}

.cta-button {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  width: 15rem;
}

.cta-button:hover {
  background-color: #e68a00;
}

/* Section Styles */
.section {
  padding: 4rem 0;
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

/* Card Styles */
.card-container {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-badge {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem 1rem;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}

.card-content h3 {
  font-size: 1rem;
  margin-block: 0.5rem;
  color: var(--primary-color);
}

.card-content a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.1rem;
}

/* Scholarship section starts here */

.scholarship-section {
  width: 100%;
  text-align: center;
  padding: 20px;
}

.scholarship-section h2 {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 40px;
  color: var(--primary-color);
}

.scholarship-section .card {
  border: 1.5px solid var(--primary-color);
}

/* scholarship application and university list starts here */
.apply_universities {
  /* border: 5px solid black; */
  width: 100%;
  padding: 20px;
}
.apply_universities h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 40px;
  color: var(--primary-color);
}

.apply_universities .container {
  /* border: 5px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
}

/* University list */

.university-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  background: #f9f9f9;
  max-height: calc(100vh - 100px);
  overflow-y: auto;
  /* padding-right: 10px; */
}

.university-list h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: var(--text-color);
}

.country {
  margin-bottom: 30px;
}

.country h3 {
  margin-bottom: 10px;
  color: #0046d5;
}
.universities {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.universities.card {
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.universities .card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.application-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 20px;
}

.application-form h2 {
  margin-bottom: 20px;
}

.application-form label {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: var(--text-color);
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 3px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.degree-options,
.counseling-options {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

button:hover {
  background-color: #003bb3;
}

.apply_universities .card-container {
  /* border: 5px solid black; */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.country .card {
  flex: 0 0 auto;
  gap: 15px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 200px;
}

.faq-layout {
  display: flex;
  gap: 30px;
}

.faq-container {
  flex: 1;
  max-width: 60%;
}

.faq-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-question h3 {
  font-size: 1.2rem;
  margin: 0;
}

.faq-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  font-size: 1rem;
}

/* Animation on Scroll */
.animate-on-scroll {
  border: 1.5px solid var(--secondary-color);
  margin-top: 25px;
  transition: transform 1s ease;
  transform: translateY(60px);
  opacity: 0;
}

.animate-on-scroll.animated {
  opacity: 1;
  transform: translateY(0);
}

/* Faculty section starts here */
.card {
  width: 300px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.card img {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}
.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 1;
}

/* Internship Section starts here */

#internships .container .hero {
  background-image: url(../assets/images/programs/internship.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#internships .container .hero-content {
  background-color: rgba(0, 0, 0, 0.4);
}

.vacancies-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
}

.country-section {
  margin-bottom: 30px;
}

.country-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.vacancy-card {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1; /* Default background color */
  color: #212529; /* Default text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.vacancy-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.vacancy-card p {
  margin: 5px 0;
}

/* Hover Effect */
.vacancy-card:hover {
  background-color: #007bff; /* Hover background color */
  color: white; /* Hover text color */
}

/* Recruiters */

.marquee-container {
  width: 100%;
  overflow: hidden; /* Ensure content doesn't overflow */
  background-color: #f9f9f9; /* Optional background color */
  padding: 20px 0;
}
.marquee-container h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.marquee-left-to-right,
.marquee-right-to-left {
  display: flex;
  white-space: nowrap;
  align-items: center; /* Vertically align logos */
  position: relative;
}

.marquee-left-to-right img,
.marquee-right-to-left img {
  height: 50px; /* Set logo size */
  margin: 10px 20px; /* Add spacing between logos */
}

.marquee-left-to-right {
  animation: scroll-left-to-right 25s linear infinite; /* Move left to right */
}

.marquee-right-to-left {
  animation: scroll-right-to-left 25s linear infinite; /* Move right to left */
}

/* Animation for Left-to-Right */
@keyframes scroll-left-to-right {
  0% {
    transform: translateX(-100%); /* Start off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Move to off-screen to the right */
  }
}

/* Animation for Right-to-Left */
@keyframes scroll-right-to-left {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move to off-screen to the left */
  }
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem 1rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: calc(33.333% - 2rem);
  margin-bottom: 2rem;
}

.footer-section h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--secondary-color);
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: var(--secondary-color);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    padding: 2rem 1rem;
    font-size: 0.9rem;
  }
  .container {
    padding: 0.5rem;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
  }

  .footer-section {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    padding: 2.5rem 1rem;
    font-size: 1rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns */
  }
}

/* For large devices (PCs, > 1024px) */
@media (min-width: 1025px) {
  .hero {
    padding: 4rem 2rem;
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr); /* Three columns */
  }
}

@media screen and (max-width: 1024px) {
  #study-abroad > .container,
  #faq-section > .container {
    width: 100%;
  }

  #faq-section > .container {
    padding-inline: 50px;
  }

  #internships .container {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .apply_universities .container {
    flex-direction: column;
    align-items: center;
  }

  .faq-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-container {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 535px) {
  .university-list {
    justify-content: flex-start;
  }

  .university-list .country .universities {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  #faq-section > .container {
    padding-inline: 10px;
  }

  .container {
    width: 100%;
  }
}
