#details-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

#details-container .details-box {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#details-container .details-box .details-summary {
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 8px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.1);
}

#details-container .details-box .details-summary h5 {
  font-size: 16px;
}

#details-container .details-box .details-summary span {
  color: #00000066;
  font-size: 20px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

#details-container .details-box.open .details-summary span {
  transform: rotate(135deg);
}

#details-container .details-box .details-content {
  width: 100%;
  font-size: 16px;
  color: #535353f5;
  line-height: 24px;
  background-color: #ffffff8c;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease;
}

#details-container .details-box .details-content p {
  padding: 15px 20px;
  margin: 0;
}

#details-container .details-box.open .details-summary {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
